{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='button.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<form class="changeover_form" action="" method="post">
<ul>
    <li>
        <h1>Changeover</h1>
        <span class="changeover_form_required_field">* denotes required field</span>
    </li>
    <li>
        <h1>folders on {{ detector_name }}</h1>
    </li>
    <li>
        <label for="folder_create">Create new folder:</label>
        <input type="checkbox" id="folder_create" checked/>
    </li>
    <li>
        <label for="folder_epn" class="folder">Folder name (EPN):</label>
        <input type="text" id="folder_epn" placeholder="Scientist_EPN" class="folder" required/>
    </li>
    <li>
        <h1>rsync</h1>
    </li>
    <li>
        <label for="rsync_enabled">Enabled:</label>
        <input type="checkbox" id="rsync_enabled" checked/>
    </li>
    <li>
        <label for="rsync_checksum" class="rsync">Checksum:</label>
        <input type="checkbox" id="rsync_checksum" class="rsync" checked/>
    </li>
    <li>
        <label for="rsync_compress" class="rsync">Compression:</label>
        <input type="checkbox" id="rsync_compress" class="rsync" checked/>
    </li>
    <li>
        <label for="rsync_exclude" class="rsync">Exclude files:</label>
        <input type="text" id="rsync_exclude" class="rsync"/>
    </li>
    <li>
        <h1>post processing</h1>
    </li>
    <li>
        <label for="post_checksum">Perform CRC32 check:</label>
        <input type="checkbox" id="post_checksum" checked/>
    </li>
    <li>
        <label for="post_delete" class="rsync">Delete existing folders after rsync:</label>
        <input type="checkbox" id="post_delete" class="rsync" checked/>
    </li>
    <li>
        <button class="button green" type="submit">Start changeover</button>
    </li>
</ul>
</form>


<script>
    $.getJSON("/rest/rsync/exclude", function(data, status) {
            if (status == "success") {
                $('#rsync_exclude').val(data.exclude);
            }
        });

    $('#rsync_enabled').click(function() {
        if ($(this).is(':checked')) {
            $('input.rsync').removeAttr('disabled');
            $('label.rsync').css({color:'#444'});
        } else {
            $('input.rsync').attr('disabled', true);
            $('label.rsync').css({color:'#aaa'});
        }
    });

    $('#folder_create').click(function() {
        if ($(this).is(':checked')) {
            $('input.folder').removeAttr('disabled');
            $('input.folder').attr('required', true);
            $('label.folder').css({color:'#444'});
        } else {
            $('input.folder').attr('disabled', true);
            $('input.folder').removeAttr('required');
            $('label.folder').css({color:'#aaa'});
        }
    });
</script>

{% endblock %}
