{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='button.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='jquery.validate.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<form class="changeover_form" id="changeover_form" action="">
<ul>
    <li>
        <h1>Changeover</h1>
        <span class="changeover_form_required_field">* denotes required field</span>
    </li>
    <li>
        <h1>folders on {{ detector_name }}</h1>
    </li>
    <li>
        <label for="folder_create">Create new folder:</label>
        <input type="checkbox" id="folder_create" name="folder_create" checked/>
    </li>
    {% for folder in folders %}
    <li>
        <label for="folder_{{ folder }}" class="folder">Folder name ({{ folder }}):</label>
        <input type="text" id="folder_{{ folder }}" name="folder_{{ folder }}" placeholder="{{ folder }}" class="folder" required/>
    </li>
    {% endfor %}
    <li>
        <label for="folder_result" class="folder">Preview:</label>
        <span id="folder_result" class="folder"></span>
    </li>
    <li>
        <h1>rsync</h1>
    </li>
    <li>
        <label for="rsync_enabled">Enabled:</label>
        <input type="checkbox" id="rsync_enabled" name="rsync_enabled" checked/>
    </li>
    <li>
        <label for="rsync_checksum" class="rsync">Checksum:</label>
        <input type="checkbox" id="rsync_checksum" name="rsync_checksum" class="rsync" checked/>
    </li>
    <li>
        <label for="rsync_compress" class="rsync">Compression:</label>
        <input type="checkbox" id="rsync_compress" name="rsync_compress" class="rsync" checked/>
    </li>
    <li>
        <label for="rsync_exclude" class="rsync">Exclude files:</label>
        <input type="text" id="rsync_exclude" name="rsync_exclude" class="rsync" value="{{ exclude }}"/>
    </li>
    <li>
        <h1>post processing</h1>
    </li>
    <li>
        <label for="post_checksum">Perform CRC32 check:</label>
        <input type="checkbox" id="post_checksum" name="post_checksum" checked/>
    </li>
    <li>
        <label for="post_delete" class="rsync">Delete existing folders after rsync:</label>
        <input type="checkbox" id="post_delete" name="post_delete" class="rsync" checked/>
    </li>
    <li>
        <button class="button green" id="submit_button" type="submit">Start changeover</button>
    </li>
</ul>
</form>

<script>
    function buildFolderResult() {
        var pattern = new RegExp('(\\$\\{[A-z0-9]+\\})+','g');
        $('#folder_result').text(String("{{ source_folder }}").replace(pattern, function(match) {
            var name = match.substring(2,match.length-1);
            var input_text = $('#folder_'+name).val();
            if (input_text) {
                return input_text;
            } else {
                return match;
            }
        }));
    }

    $(document).ready(function() {
        $("changeover_form").validate({highlight: function(element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
        }});

        buildFolderResult();
    });

    $('input.folder').keyup(function() {
        buildFolderResult();
    });

    $('input.folder').change(function() {
        buildFolderResult();
    });

    $('#rsync_enabled').click(function() {
        if ($(this).is(':checked')) {
            $('input.rsync').removeAttr('disabled');
            $('label.rsync').css({color:'#444'});
        } else {
            $('input.rsync').attr('disabled', true);
            $('label.rsync').css({color:'#aaa'});
        }
    });

    $('#folder_create').click(function() {
        if ($(this).is(':checked')) {
            $('input.folder').removeAttr('disabled');
            $('input.folder').attr('required', true);
            $('label.folder').css({color:'#444'});
            $('span.folder').css({color:'#444'});
        } else {
            $('input.folder').attr('disabled', true);
            $('input.folder').removeAttr('required');
            $('label.folder').css({color:'#aaa'});
            $('span.folder').css({color:'#aaa'});
        }
    });

    $('#submit_button').click(function(event) {
        if ($("#changeover_form").valid()) {
            $.ajax({
                url: "/rest/changeover/start",
                type: 'post',
                dataType: 'json',
                async: false,
                data: $('#changeover_form').serialize(),
                success: function(data) {
                    if (data.success) {
                        window.location = "/changeover/progress";
                    }
                }
            })
            event.preventDefault();
        }
    });
</script>
{% endblock %}
