{% extends "layout.html" %}
{% block content %}

<h1>Supervisor process</h1>
{% if rsync_running %}
Running PID: {{ rsync_pid}} Uptime: {{ rsync_uptime }}
{% else %}
Not running
{% endif %}

<br>

<h1>SSH connection</h1>
{% if ssh_connected %}
Successfully connected to {{ ssh_target }}
{% else %}
Couldn't connect to {{ ssh_target }}: {{ ssh_error_msg }}
{% endif %}

<h1>Statistics for today</h1>

<center><div id="plot_data_today"></div></center>
<center><div id="plot_number_files_today"></div></center>

<script>
// request the statistics data for today via AJAX and plot the histograms
var today = new Date();
$.post("/rest/statistics",
        {day: today.getDate(), month: today.getMonth()+1, year: today.getFullYear()},
        function(data, status) {
            if ((status == "success") && (data.status == "success")) {
                barChart(data.hist_data, "#plot_data_today", 800, 300, "Transferred data", "Time", "Data [MB]");
                barChart(data.hist_file, "#plot_number_files_today", 800, 300, "Transferred files", "Time", "Number");
            }
       },
       "json");
</script>

{% endblock %}
